/* 기본 설정 */
html, body { 
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nanum Myeongjo', serif;
  background-color: #f4f6f8;
  justify-content: center;
  align-items: center; 
  overflow-x: hidden; /* 좌우 스크롤 방지 */
}

/* 컨테이너 스타일 */
.contentbox {
  width: 95%; /* 페이지 전체 너비의 95% 사용 */
  align-items: center; /* 내부 요소 가운데 정렬 */
  max-width: 1600px; /* 최대 폭을 더 크게 설정 */
  padding: 40px; /* 패딩을 더 추가하여 여유 공간 확보 */
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto; /* 상단 여백과 수평 중앙 정렬 */
  
  box-sizing: border-box; /*패딩을 포함한 전체 너비로 설정 */
}

/* 길찾기 버튼을 중앙에 배치 */
#routeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  font-size: 30px;
  text-align: left; /* 강제로 왼쪽 정렬 */
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  align-self: flex-start; /* 부모 요소 내에서 왼쪽 정렬 */
}

/* 입력 필드 및 폼 */
form {
  text-align: left; /* 왼쪽 정렬 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}



form h4 {
  font-size: 18px;
  color: #555;
  margin: 10px 0 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/* 버튼 스타일 */
button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  border: 1px solid #ccc;
}

button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

/* 지도 영역 */
#map_div {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  margin: 20px 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 경로 설명, 지하철역 정보, 경로 선택 UI */
#route_description, #subway_stations, #stationInfoDiv, #routeSelection {
  width: 100%;
  max-width: 1000px;
  padding: 15px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-sizing: border-box;
}

/* 경로 선택 UI 스타일 */
.route-summary {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.route-details {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: space-between; /* 두 요소 사이에 공간을 균등 분배 */
}

.route-details p {
  margin: 0;
}

.select-route-btn {
  background-color: #f8f8f8;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; /* 버튼과 요금 간격 추가 */
  border: 1px solid #ccc;
}

.select-route-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}


/* 말풍선 정보 스타일 */
.flu-info {
  width: 200px;
  white-space: normal;
  display: block;
  text-align: left;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: white;
  border-radius: 8px;
}

/* 스크롤 조정 */
body, .contentbox {
  overflow-y: auto;
}
