<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            <div class="logo-text">
                <h1>서울 시민들을 대상으로 감기를 예방하기 위해
                    <br>
                    감기 확진자 예측 데이터셋과 길찾기 서비스를 제공합니다
                </h1>
            </div>
        </div>
    </div>

    <div class="video-background">

        <video autoplay muted playsinline class="background-video">
            <source src="{{ url_for('static', filename='background_video.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="container">   
            
        
            <div class="map_image_blank">
                <img src="{{ url_for('static', filename='map_blank.png') }}" alt="Map Blank Image" class="small-image" />
            </div>
            
            <div class="right-section">
                <div class="button-container">
                    <div class="check">
                        <h2>지도 조회</h2>
                        <h3>감기 발생 데이터셋을 바탕으로
                            <br>
                            구별 예측 감기 환자 수를 보여줍니다</h3>
                        <button onclick="window.location.href='/check_map'">+</button>
                    </div>
                    <div class="find">
                        <h2>길찾기</h2>
                        <h3>길찾기 서비스, 지하철역 혼잡도와 함께
                            <br>
                            출발지, 도착지의 예측 감기 환자 수를 보여줍니다</h3>
                        <button onclick="window.location.href='/routefinder'">+</button>
                    </div>        
                </div>
            </div>
             
        </div> 
    </div>
</body>
</html>